# Framework web
Flask
python-dotenv

# Conexão com Neon DB (PostgreSQL)
psycopg2-binary

# API do Gemini
google-generativeai

# Para gerenciar login e sessões
Flask-Login
Flask-Bcrypt

# Horário
pytz

gunicorn
